.container__welcome {
  display: flex;
  margin: 20px;
  width: 70%;
  margin: 0 auto 0 auto;
  .welcome__image{
      box-shadow: -14px 14px 4px rgba(0, 0, 0, 0.1);
  }
  .welcome__description{
      padding-left: 90px;    
      .welcome__title{
          color: $color-azul-marino;       
          font-size: 45px;
          padding-top: 20px;
          padding-bottom: 15px;
          font-family: $ubuntu-regular;
          span {
            color: $color-verde;
            font-size: 53px;
          }
      }
      .welcome__words{
          color: $color-gris;
          text-align: justify;
          font-size: 22px;
          padding-bottom: 30px;
      }
      .welcome__name{
          color: $color-gris;
          font-size: 25px;
          text-align: right;
      }
  }
}
